<div class="auth-container">
    <div class="auth-card">
        <h1>Entrar</h1>
        <p>Acesse sua conta para gerenciar suas finanças</p>

        <form (ngSubmit)="onLogin()" #loginForm="ngForm">
            <div class="form-group">
                <label>E-mail</label>
                <input type="email" [(ngModel)]="credentials.email" name="email" required email
                    placeholder="seu@email.com">
            </div>

            <div class="form-group">
                <label>Senha</label>
                <input type="password" [(ngModel)]="credentials.password" name="password" required
                    placeholder="Sua senha">
            </div>

            <div *ngIf="errorMessage" class="error-message">
                {{ errorMessage }}
            </div>

            <button type="submit" class="btn-primary" [disabled]="!loginForm.form.valid">Entrar</button>
        </form>

        <div class="auth-footer">
            Não tem uma conta? <a routerLink="/register">Cadastre-se</a>
        </div>
    </div>
</div>