@use '@angular/material' as mat;

@include mat.core();

// Define a custom palette using the Green color
$my-primary: mat.m2-define-palette(mat.$m2-green-palette, 600);
$my-accent: mat.m2-define-palette(mat.$m2-teal-palette, A200);
$my-warn: mat.m2-define-palette(mat.$m2-red-palette);

// Create the theme object
$my-theme: mat.m2-define-light-theme((color: (primary: $my-primary,
                accent: $my-accent,
                warn: $my-warn,
            ),
            typography: mat.m2-define-typography-config(),
            density: 0,
        ));

// Apply the theme to all Angular Material components
@include mat.all-component-themes($my-theme);

:root {
    --brand-primary: #02d68f;
    --brand-primary-hover: #0e92685f;
    --brand-secondary: #3b82f6;
    --brand-gradient: linear-gradient(135deg, #10b981, #059669);
    --brand-shadow: 0 10px 15px -3px rgba(16, 185, 129, 0.111);
    --brand-shadow-hover: 0 20px 25px -5px rgba(15, 94, 68, 0.932);
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
}

// Hide native browser password reveal icon
input[type="password"]::-ms-reveal {
    display: none !important;
}

// Remove Autofill blue background
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
    transition: background-color 5000s ease-in-out 0s;
}